@import "tailwindcss";

@theme {
  --color-primary: #1E88E5;
  --color-secondary: #2EC4B6;
  --color-accent: #F4B400;
  --color-light: #F8FAFC;
  --color-dark: #1F2937;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-light);
    color: var(--color-dark);
  }
}
